@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina") url("./Fonts/NeueMachina-Light.otf") format("otf");
}
@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina") url("./Fonts/NeueMachina-Regular.otf")
    format("otf");
}
@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina") url("./Fonts/NeueMachina-Ultrabold.otf")
    format("otf");
}
.MyHomePage {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  .MyHomePage {
    max-width: 1280px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1275px) {
  .MyHomePage {
    max-width: 1116px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 440px) {
  .HerbMainHeading {
    max-width: 30px;
  }
}
